# Dependencies
/vendor/

# Environment
.env

# Writable directory
/writable/logs/
/writable/cache/
/writable/uploads/
/writable/session/
/writable/debugbar/

# Assets upload (gambar yang diupload user)
/public/assets/news/
/public/assets/alumni/
/public/assets/agenda/
/public/assets/dekan/
/public/assets/fakultas/
/public/assets/kaprodi/
/public/assets/prodi/

# OS files
.DS_Store
Thumbs.db
